body {
  background: url(fondo.jpg) no-repeat fixed center #333333;
  background-size: cover;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
  margin: auto;
}
#img {
  min-width: 250px;
  max-width: 500px;
}
img {
  border-radius: 15px;
  width: 100%;
}
#frase {
  width: 50%;
  height: 100%;
  float: right;
  text-align: center;
  font-size: 100%;
  background-color: none;
  color: black;
  min-width: 250px;
}
.x {
  align-self: auto;
  color: red;
  font-size: 30;
  background-color: aqua;
  width: 100%;
}
.x p {
  font-size: 30px;
  color: black;
  font-family: fantasy;
}
.x h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  outline-style: solid;
  outline-color: black;
  font-size: 60px;
}
li {
  list-style: none;
  float: left;
}
a {
  color: aqua;
  display: block;
  padding: 0px;
  background-color: #333333;
}
ul {
  background-color: #333333;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: rgb(22, 233, 163);
}
.form {
  background-color: gray;
  min-width: 300px;
}
form {
  display: flex;
  flex-direction: column;
}
